@model CommunityGarden.Models.ViewGardenUsersInfocs

@{
    ViewData["Title"] = "Name_role_list";

}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                User Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.GardenUser.Role)
            </td>
            <td>
                @Html.DisplayFor(model => model.User.FirstName)
            </td>
        </tr>
    </tbody>
</table>
