@using System.Reflection;
@model CommunityGarden.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                Type modelType = Model.GetType();

                PropertyInfo[] properties = modelType.GetProperties(BindingFlags.Public | BindingFlags.Instance);

                foreach (PropertyInfo property in properties)
                {
                    if (property.Name == properties.First().Name) continue;

                    <div class="form-group">
                        <label asp-for="@property.Name" class="control-label"></label>
                        <input asp-for="@property.Name" class="form-control" />
                        <span asp-validation-for="@property.Name" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
